<!-- Include partial file for header -->
<%- include('./partial/header.ejs') %>
        <section class="not-found">
            <h1>404</h1> 
            <p>Page Not Found! <br><a href="/">Go Home &srarr; </a></p>
        </section>
        

<!-- Include partial file for footer -->
<%- include('./partial/footer.ejs') %>
